/*app styling*/
.App {
  text-align: center;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*html body tag styling*/
body{
  background-color: rgb(49, 32, 145);
  color: white;
}

/*credits styling*/
.credits, a{
  color: rgb(194, 194, 194);
  
}
a:hover{
  color: rgb(211, 211, 211);
  text-decoration: none;
}